@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
    @apply font-bold;
  }

  h4 {
    @apply text-xl;
    @apply font-semibold;
  }

  h5 {
    @apply text-lg;
    /*or text-lg */
    @apply font-semibold;
  }

  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}
@font-face {
  font-family: "sportify";
  src: url("../font/SpotifyMix-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sportify-medium";
  src: url("../font/SpotifyMix-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "sportify-bold";
  font-weight: bolder;
  src: url("../font/SpotifyMix-Bold.ttf") format("truetype");
}

@theme {
  --font-primary: "Poppins", sans-serif;
  --font-sportify: "sportify", sans-serif;
  --font-sportify-medium: "sportify-medium", sans-serif;
  --font-sportify-bold: "sportify-bold", sans-serif;
  --color-primary: #008236;
  --color-primary-light: #dbfce7;
  --color-secondary: #facc15;
  /* --color-background: #f4f4e7; */
  --color-background: #f1f1f1;
  --color-background-dark: #030423;
  --color-text-description: #596378;
  --color-cool-sky: #eceff3;
}
